<div class="block">
    <h1>AnonGuard</h1>
    <p>{$message}</p>

    <form id="depersonalizer-form" method="post">
        <div class="field">
            <div class="name"><label for="days">{_wp('Retention days')}</label></div>
            <div class="value">{$fields.days}</div>
        </div>
        <div class="field">
            <div class="value"><label>{$fields.keep_geo} {_wp('Keep geo statistics')}</label></div>
        </div>
        <div class="field">
            <div class="value"><label>{$fields.wipe_comments} {_wp('Wipe order comments')}</label></div>
        </div>
        <div class="field">
            <div class="value">
                <label>{$fields.anonymize_contact_id} {_wp('Replace contact_id with anonymous contact')}</label>
            </div>
        </div>
        <div class="field" id="exclude-keys" style="display:none;">
            <div class="name">{_wp('Exclude keys')}</div>
            <div class="value" id="exclude-keys-container"></div>
        </div>
        {$wa->csrf()}
        <div class="field">
            <div class="value">
                <button type="button" class="preview btn">{_wp('Preview')}</button>
                <button type="button" class="run btn green">{_wp('Run')}</button>
            </div>
        </div>
    </form>

    <div id="depersonalizer-output"></div>
</div>

<script type="text/javascript">
(function($) {
    var form = $('#depersonalizer-form');
    var output = $('#depersonalizer-output');
    function preview() {
        $.post('?plugin=depersonalizer&module=run&action=preview', form.serialize(), function(resp) {
            var keys_wrapper = $('#exclude-keys');
            var keys_container = $('#exclude-keys-container');
            keys_container.empty();
            if (resp && resp.data) {
                if (resp.data.message) {
                    output.text(resp.data.message);
                }
                if (resp.data.keys && resp.data.keys.length) {
                    var html = '';
                    $.each(resp.data.keys, function(i, k) {
                        html += '<label><input type="checkbox" name="keys[]" value="' + k + '" checked> ' + k + '</label><br>';
                    });
                    keys_container.html(html);
                    keys_wrapper.show();
                } else {
                    keys_wrapper.hide();
                }
            } else if (resp && resp.message) {
                output.text(resp.message);
                keys_wrapper.hide();
            } else {
                output.text(resp ? resp.error || '' : '');
                keys_wrapper.hide();
            }
        }, 'json');
    }
    form.find('.preview').on('click', preview);
    var serverErrorText = {_wp('Server error')|json_encode};
    form.find('.run').on('click', function() {
        output.html('<i class="icon16 loading"></i>');
        $.post('?plugin=depersonalizer&action=run', form.serialize(), function(html) {
            output.html(html);
        }, 'html').fail(function(xhr) {
            var message = serverErrorText;
            if (xhr.responseJSON && xhr.responseJSON.error) {
                message = xhr.responseJSON.error;
            } else if (xhr.responseText) {
                message = xhr.responseText;
            }
            output.empty().append($('<div class="errormsg"></div>').text(message));
        });
    });
})(jQuery);
</script>
